*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    

}
body{
   background-image:url(./images/main.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: calc();
}  
.logo{
    display: flex;
    justify-content: center;
   margin-top: 10px;
}
 img{
   width: 400px; 
} 
.content{
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
    color: #313571;
    margin-top: 10px;
    }

.paramain {
    margin: 20px auto;
    font-size: 20px;
    font-weight: 100;
    color: rgb(24, 26, 26);
    background-color: rgba(240, 248, 255,0.5);
    padding: 10px;
    width: 60%;
    border-radius: 30px;
   
}


button{
    width: 200px;
    padding: 10px 0;
    text-align: center;
    border-radius: 18px;
    border: 3px solid #518ed4;
    background: transparent;
    box-shadow: 3px 10px 10px #313571;
    color: #313571;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;

    }
   
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    scale: 20;
}

.btn {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 4% 25%;
}

#btnreg {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
#btnlog {
    
    margin-top: 10px;
    margin-left: 8%;
    font-size: 20px;
    font-weight: bold;
}
img {
    width: 350px;
    margin-top: 15px;
    border-radius: 90%;
    margin-right: 30px;
}

#para {
    font-weight: 600;
    line-height: 2;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    color: #313571;

}
h2 {
    padding: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}
@media(max-width :1033px){
    .content p{
           font-size: 25px;
    }
    

}